img{
    width:100%;
}
.quickView{
    border: 1px black inset;
    position: absolute;
    background-color: rgb(148, 147, 147);
    padding: .5em;
    border-radius: 10px;
    button{
        border-radius: 15px;
        margin: .2em;
        padding:.25em;
        position: absolute;
        right:2px;
        &:hover{
            background-color: rgb(148, 147, 147);
        }
    }
}