<div id="container">
    <aside>
        <div>
        <fdheader [title]="headers[0]" fontSize='2.5'></fdheader>  
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem totam quod, esse iure saepe aut facilis ducimus natus. Voluptatum ipsam porro accusantium voluptate, quas ut obcaecati cum voluptatibus placeat soluta!
                Est, quo. Quibusdam, porro temporibus. Delectus, rerum laboriosam!</p>
        </div>
        <fdfooter class="desktop"></fdfooter>
       
    </aside>
    <main>
        <article>
            <fdheader [title]="headers[1]" fontSize='1.5'></fdheader>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam maiores nobis necessitatibus, autem, sint impedit hic minima accusantium, sequi ea repellat veritatis pariatur accusamus porro unde culpa maxime facilis. Saepe.
                Neque distinctio reiciendis quod nam eaque accusantium sint deleniti iste vel sapiente ea, esse dolores modi et, atque dolorum fuga doloremque reprehenderit error autem! Modi optio sapiente blanditiis autem qui.</p>
            </div>
            <hr>
        </article>
        <article>
            <fdheader [title]="headers[2]" fontSize='1.0'></fdheader>
            <div class="card-container">
                <card *ngFor="let obj of tempObj let i = index" [cardObject] = "obj"></card>
            </div>
        </article>
    </main>
</div>
<fdfooter class="mobile"></fdfooter>