aside{
    background-image: url('../../../assets/images/chickenBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:10vh;
    color:white;
    text-align: center;
    main{
        padding:1em;
    }
}
article{
    padding:1em;
}